<style>
    h1{
        color:green
    }
    #understanding
{
    color:red
}
#why{
    color:blue
}
#read{
    color:hotpink
}
body{
    background-color: lawngreen;
}
td {
    color:lightcoral
}
tr{
    color:lightseagreen
}
</style>